<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endpoints</key>
	<dict/>
	<key>clientpages</key>
	<dict>
		<key>qub</key>
		<string>481772365334307</string>
		<key>dit</key>
		<string>1484790081833630</string>
		<key>tcd</key>
		<string>884332671653875</string>
		<key>nuim</key>
		<string>1487418558237191</string>
		<key>ucc</key>
		<string>160571590941928</string>
	</dict>
</dict>
</plist>
