<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nuig</key>
	<string>1049082365115363</string>
	<key>qub</key>
	<string>481772365334307</string>
	<key>ucd</key>
	<string>197528567092983</string>
	<key>dit</key>
	<string>1484790081833630</string>
	<key>tcd</key>
	<string>884332671653875</string>
	<key>nuim</key>
	<string>1487418558237191</string>
	<key>ucc</key>
	<string>160571590941928</string>
	<key>dcu</key>
	<string>1623486501269315</string>
	<key>ul</key>
	<string>864582240244269</string>
</dict>
</plist>
